[submodule "images/solr"]
	path = images/solr
	url = https://github.com/islandora-claw/claw-docker-solr
[submodule "images/all-in-one"]
	path = images/all-in-one
	url = https://github.com/islandora-claw/claw-docker-all-in-one
[submodule "images/base"]
	path = images/base
	url = https://github.com/islandora-claw/claw-docker-base
[submodule "images/blazegraph"]
	path = images/blazegraph
	url = https://github.com/islandora-claw/claw-docker-blazegraph
[submodule "images/drupal"]
	path = images/drupal
	url = https://github.com/islandora-claw/claw-docker-drupal
[submodule "images/fedora"]
	path = images/fedora
	url = https://github.com/islandora-claw/claw-docker-fedora
[submodule "images/islandora"]
	path = images/islandora
	url = https://github.com/islandora-claw/claw-docker-islandora
[submodule "images/islandora-karaf-components"]
	path = images/islandora-karaf-components
	url = https://github.com/islandora-claw/claw-docker-islandora-karaf-components
[submodule "images/karaf"]
	path = images/karaf
	url = https://github.com/islandora-claw/claw-docker-karaf
[submodule "images/mariadb"]
	path = images/mariadb
	url = https://github.com/islandora-claw/claw-docker-mariadb
[submodule "images/maven"]
	path = images/maven
	url = https://github.com/islandora-claw/claw-docker-maven
[submodule "images/open-jdk"]
	path = images/open-jdk
	url = https://github.com/islandora-claw/claw-docker-open-jdk
[submodule "images/oracle-jdk"]
	path = images/oracle-jdk
	url = https://github.com/islandora-claw/claw-docker-oracle-jdk
[submodule "images/tomcat"]
	path = images/tomcat
	url = https://github.com/islandora-claw/claw-docker-tomcat
